<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style>
    h1, p {
        display: inline;
    }
</style>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{ i }} - {{ cor }}</li>        
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, chave, index) in pessoa">
                {{ index + 1 }} - {{ chave }} - {{ valor }}
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: [
                'Vermelho',
                'Verde',
                'Amarelo',
                'Azul'
            ],
            pessoas: [
                { nome: 'Anna', idade: 10, peso: 30 },
                { nome: 'Guilherme', idade: 29, peso: 80 },
                { nome: 'Aline', idade: 33, peso: 60 },
            ]
        }
    })
</script>